:root{
    --borderHighlight:blue;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: lightseagreen;
    color: #fff;
}

header {
    display: flex;
    width: 60%;
    margin: 0 auto;
    font-size: 2rem;
    text-align: center;
}

/*logo curscore sumscore 2 4 4*/

.left,
right {
    flex: 0 0 10%;
}

.left>p,
.right>p {
    width: 80px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 18px;
    padding: 0 10px;
    background: lightcoral;
    border-radius: 5px;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1),
    inset 0 0 0 3px #EFEFEF,
    inset 0 0 10px black,
    0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.curscore,
.sumscore {
    flex: 1;
    align-self: center;
    margin: 0 auto;
}

.board {
    display: block;
    border: 4px solid lightcyan;
    margin: auto;
    width: 560px;
    height: 560px;
    border-radius: 9px;
    padding: 5px;
}

.board_cell {
    box-sizing: border-box;
    height: 140px;
    width: 140px;
    float: left;
    margin: 0;
    font-size: 3.6rem;    
    text-align: center;
    line-height: 140px;
    border: 2px solid lightslategray;
    border-radius: 4px;
    background-color: rgba(251, 255, 251, 0.3);
}

.border-left{
    border-left:4px solid var(--borderHighlight);
}
.border-top{
    border-top:4px solid var(--borderHighlight);
}
.border-right{
    border-right:4px solid var(--borderHighlight);
}
.border-bottom{
    border-bottom:4px solid var(--borderHighlight);
}


.hidden{
    display: none;
}

.dialog{
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 800px;
    margin: auto;
    border: 4px solid rgb(51, 9, 9);
    border-radius: 7px;
}
.welcome{
    background: lightpink;
    cursor: pointer;
}
.welcome h1{
    text-align: center;            
}
.welcome .choose-title{
    margin-left: 10%;
    font-size: 20px;
}
.welcome .choose-items{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border:1px solid rebeccapurple;
}

.welcome .choose-items span{
    display: inline-block;
    width: 30%;
    margin: 0 auto;
    border:1px solid rebeccapurple;
    font-size: 20px;
}

.win,.lose{
    background: rgb(243, 61, 61);
    text-align: center;            
}
.lose{
    background: rgb(102, 87, 87);
}
.win .content,.lose .content{
    font-size: 30px;
}

.btn{
    display: inline-block;
    width: 40%;
    height: 40px;
    line-height: 40px;
    font-size: 1.2rem;
    border-radius: 7px;
    text-align: center;
    margin: 5% 30%;
    background: rebeccapurple;
}
@media (max-width: 768px) {
    header {
        width: 90%;
        font-size: 1rem;
    }
    .left>p,
    .right>p {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 10px;
    }

    .board {
        width: 320px;
        height: 320px;
    }
    .board_cell {
        box-sizing: border-box;
        height: 80px;
        width: 80px;
    }
    .dialog{
        z-index: 999;
        position: fixed;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 300px;
    }
}